html {
    background-color: #041821;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin-left: 5%;
}

header {
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #808080;
    padding: 5px;
}

.right-container {
    justify-content: flex-end;
    color: white;
    margin: 5px;
    font-size: 10px;
}

.right-container li {
    margin: 5px;
    font-size: 10px;
}

.sous-titres {
    color: aliceblue;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

.sous-titres li {
    margin: 5px;
    font-size: 10px;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 800;
    color: white;
    font-size: xx-large;
    margin-left: 5%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #808080;
    font-size: x-small;
}

main {
    margin-top: 4%;
}

.portrait {
    background-color: #1bd79e;
}

.photos {
    display: grid;
    grid-gap: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.photos img {
    width: 100%;
    height: 100%;
}

.point, .end-text {
    color: #1bd79e;
}

footer {
    text-align: center;
    color: #808080;
    font-size: 7px;
    margin-top: 35px;
}

@media (max-width: 480px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
    .photos img:nth-child(n + 10) {
        display: none;
    }
    header {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .right-container {
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0; 
    }
}

@media (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(5, 1fr);
    }
    .photos img:nth-child(n + 16) {
        display: none;
    }
}

@media (max-width: 1024px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
    .photos img:nth-child(n + 10) {
        display: none;
    }
}
